* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  user-select: inherit;
}
html,
body,
#app {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --color-white: #fff;
}
